@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --dark-cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);

    font-family: 'Kumbh Sans', sans-serif;
    background:var(--dark-cyan);
    font-size: 18px;
    color:var(--desaturated-blue);
}

main{
    overflow-y: hidden;
}
.container{
    width:100vw;
    max-width: 1400px;
    margin: 0 auto;
}


section{
    overflow:hidden;
    min-height: 600px;
    width:100vw;
    position: relative;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height:600px;
        padding: 1rem;
    }

}


.top-circle{
    position:absolute;
    left: 0;
    top: 0;
    transform: translate(-35%,-60%);
    
}
.bottom-circle{
    position: absolute;
    bottom:0;
    right:0;
    transform: translate(30%,70%);
}
.card{
    background-color: white;
    position: relative;
    z-index: 4;
    overflow:hidden;
    border-radius: 1rem;
    min-width:320px;
    max-width: 350px;
    &__user-data{
        position: relative;
        padding-top: 4rem;
        text-align: center;
        text-transform: capitalize;
    }
    &__user-img{
        position: absolute;
        overflow:hidden;
        border-radius: 50%;
        padding:.5rem;
      
        top:0;
        left:50%;
        transform:translate(-50%,-50%);
        img{
           display: block;
           border-radius: 50%;
        }
    }
    &__user-name{
        font-weight: 700;
        span{
            color:var(--grayish-blue);
            margin-left: .5rem;
            font-weight: 400;
        }
        margin: .5rem 0rem;
    }
    &__user-city{
        display: block;
        font-size: 13px;
        color:var(--grayish-blue);
        margin-bottom: 1.5rem;
      
    }
    &__footer{
        display: flex;
        justify-content: space-around;
        align-content: center;
        border-top: 1px solid var(--dark-gray);
        padding:1.5rem 1rem;
        text-align: center;
        font-weight: 700;
        text-transform: capitalize;
  
        p{
            width:80px;
         
        }
        span{
            font-size: 11px;
            letter-spacing: .1rem;
            display: block;
            color:var(--grayish-blue);
            font-weight: 400;
            margin-top: .3rem;
        }
    }
}

.main-footer{
    width:100vw;
    min-height: 3rem;
    padding: 1rem;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    a{
        margin-left: .5rem;
    }
    
}